<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimsy.somup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".logInActivity" />
        <activity android:name=".Menu2Activity" />
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartSelectActivity" />
        <activity android:name=".addPage" />
        <activity android:name=".bookroom" />
        <activity android:name=".MyListAdapter" />
        <activity
            android:name=".CurriculumActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".SpecificActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".list_view_item"></activity>
    </application>

</manifest>